application:
  actions: actions
  web: web-src
  runtimeManifest:
    packages:
      local-offer-app:
        license: Apache-2.0
        actions:
          offerapi:
            function: actions/offerapi/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
            annotations:
              require-adobe-auth: false
              final: true
          offeractions:
            function: actions/offeractions/index.js
            web: 'yes'
            runtime: nodejs:22
            inputs:
              LOG_LEVEL: debug
              apiKey: $SERVICE_API_KEY
            annotations:
              require-adobe-auth: true
              final: true
